.external{
    width: 100%;
    height: 100%;
}

.grid-container{
    height: 50%;
    display: table;
    margin: auto;
}
.grid-row{
    display: table-row;
}
.grid-item{
    display: table-cell;
    vertical-align: middle;
}
.sensors{
    width: 40%;
    height: 10%;
    margin:auto;
    text-align: center;
}
.icon{
    width: 25%;
}
