.external{
    width: 100%;
    height: 100%;
    position: relative;
}

.title{
margin: auto;
width: 60%;
text-align: center;
}
.section{
margin: auto;
width: 60%;
text-align: center;
}

.right
{
    margin-top:200px;
    width: 50%;
    margin: auto;
}
body{
background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}