.external{
    width: 100%;
    height: 120%;
}
.title{
  margin: auto;
  text-align: center;
}
.sensor-config{
  width: 40%;
  margin: auto;
  text-align: center;
}
body{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}