.external{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 50%;
    height: 50%;
}
body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}