.external{
    width: 100%;
    height: 100%;
    margin-top: 2%;
}
.left{
    margin-top:7%;
    width: 50%;
    float: left;
}
.title{
margin: auto;
width: 60%;
text-align: center;
}
.section{
margin: auto;
width: 60%;
text-align: center;
}
.subtitle{

}
.data{

}
.right
{
    margin-top:7%;
    width: 50%;
    float: right;
}