.semi-ex{
    height: 100%;
    width: 40%;
    margin: auto;
}
.block{
    height: 20%;
    width: 100%;
    margin-top:5%;
}
.title{
    height: 20%;
    width: 100%;
    text-align: center;
}
.content{
    position: relative;
    width: 100%;
    height: 80%;
}
.img{
    position: absolute;
    width: 20%;
    height: 100%;
   background-color: tomato;
}
.label{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 30%;
    display: table;
    vertical-align: middle;
}
hr.new2{
    border: 3px solid #343a40;
}
.internal{
    width: 100%;
    height: 60%;
    margin:0 auto;
    display: table-cell;
    vertical-align: middle;
}
body{
    background: linear-gradient(to bottom, #33cccc 0%, #ff99cc 100%);
}