.external{
    width: 100%;
    height: 100%;
}

.grid-container{
    margin: auto;
    height: 100%;
}
.grid-row{
    display: table-row;
}
.grid-item{
   
    
}
.sensors{
    width: 40%;
    height: 10%;
    margin:auto;
    text-align: center;
}
.icon{
    width: 25%;
}
.runtime-container{
    margin-top: 2%;
    text-align: center;
    height: 40%;
}
.charts-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.dischi{
    height: 50%;
}
sensori{
    height: 50%;
}