.external{
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top:5%;
}
.title{
    text-align: center;
}
.subtitle1{
    margin-top:5%;
    text-align: center;

}
.resourceview{
    margin: auto;
    display: table;
    width: 30%;
    height: 20%;
    border-spacing: 0 1rem;
}
.resourcerow{
    display: table-row;
   
    
}
.resourcecellicon{
    display: table-cell;
}
.resourcebar{
    display: table-cell;
}
.resourcepercentage{
    display: table-cell;
}